@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
}
body{
    background-color: #000;
    color: #fff;
}
img{
    object-fit: cover;
}
.profileSec{
    background-image:url("hello.jpg");
    background-size: cover;
    background-position: center;
    height: 96vh;
    clip-path: polygon(0 0,100% 0,100% 100%,0% 80%);
    position: relative;
}
.profileSec .proSecTitle1{
    position: absolute;
    top: 40%;
    left: 45%;
    animation: Helloin 1s cubic-bezier(.4,.94,.56,1.59);
    transform: translate(-50%, -50%);
}
.profileSec .proSecTitle1::before{
    position: absolute;
    content: "";
    top: -10px;
    left: -15px;
    width:20px;
    height: 5px;
    background-color: rgb(123, 123, 123);
}
.profileSec .proSecTitle1::after{
    position: absolute;
    content: "";
    top: -10px;
    left: -15px;
    height: 20px;
    width: 5px;
    background-color: rgb(123, 123, 123);
}
@keyframes Helloin{
    0%{
        left: 38%;
        color: transparent;
    }
    80%{
        left: 47%;
    }
    100%{
        left: 45%;
    }
}
.profileSec .proSecTitle2{
    position: absolute;
    top: 50%;
    left: 55%;
    animation: Namein 1s cubic-bezier(.4,.94,.56,1.59);
    transform: translate(-50%, -50%);
}
.profileSec .proSecTitle2::before{
    position: absolute;
    content: "";
    bottom: -10px;
    right: -15px;
    width:20px;
    height: 5px;
    background-color: rgb(123, 123, 123);
}
.profileSec .proSecTitle2::after{
    position: absolute;
    content: "";
    bottom: -10px;
    right: -15px;
    height: 20px;
    width: 5px;
    background-color: rgb(123, 123, 123);
}
@keyframes Namein{
    0%{
        left: 60%;
        color: transparent;
    }
    80%{
        left: 53%;
    }
    100%{
        left: 55%;
    }
}
.aboutme{
    padding-bottom: 100px;
    margin: 50px auto;
}
.aboutme .row{
    display: flex;
    align-items: center;
}
.Title_txt{
    color: cadetblue;
    margin-bottom: 50px;
}
.aboutme_name{
    margin-bottom: 20px;
}
.aboutme_name span{
    font-size: 16px;
    margin-left: 20px;
}
.aboutme_feature{
    display: flex;
}
.aboutme_feature li{
    margin-left: 15px;
    color: rgb(73, 128, 190);
}
.aboutme_feature li::before{
    content: "";
    border-left: 1px solid #000;
    padding-left: 15px;
}
.aboutme_picture{
    text-align: center;
    vertical-align: middle;
}
.aboutme_picture img{
    width: 50%;
}
.skill{
    background-image: linear-gradient(75deg,rgba(72, 72, 72,0.2),rgba(104, 104, 104,0.5)),url("tool.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 11em;
    padding-bottom: 9em;
    clip-path: polygon(0% 0%,100% 20%,100% 100%,0% 80%);
}
.skill .row{
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-evenly;
}
.skill .skill_icon{
    font-size: 36px;
}
.skill .skill_txtarea{
    padding: 2em 0px;
}
.skill .skill_title{
    font-size: 1.5em;
    margin-bottom: 1em;
}
.skill .skill_desc{
    padding-left: 0;
}
.Exp_Title{
    position: relative;
    padding: 2px 10px;
    font-size: 16px;
    display: inline-block;
    margin-left: 50px;
    background-color: rgb(76, 87, 185);
}
.Exp_Title:hover{
    background-color: coral;
}
.Exp_Title::before{
    content: '';
    top: 0px;
    left: -60px;
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgb(76, 87, 185);
    transition: 0.5s;
}
.Exp_Desc{
    margin-top: -5px;
    padding: 20px 0px 0px 20px;
    border-left: 5px solid rgb(76, 87, 185);
}
.Exp_txtarea:hover .Exp_Title::before{
    background-color: rgb(214, 124, 91);
    transform: rotate(45deg);
}
.Exp_txtarea:hover .Exp_Title{
    background-color: rgb(214, 124, 91);
}
.Exp_Desc ul li{
    margin: 1em 0px;
}
.Exp_Desc ul li span{
    color: rgb(76, 204, 209);
    font-weight: 600;
}
.Exp_Desc a{
    text-decoration: none;
}
.turntop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(100, 100, 100);
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    position: fixed;
    right: 5%;
    bottom: 10%;
}
.turntop a{
    color: gray;
}
.turntop a:hover{
    color: #ffffff;
}